body { color: #ac8346; }
body { color: #cfac78; }
body { color: #745830; }

body { color: #428ef3; }
body { color: #6aaafd; }
body { color: #2c5d9e; }


body { color: #f3984e; }
body { color: #f5b47f; }
body { color: #a06535; }


body { color: #f53c3c; }
body { color: #f87474; }
body { color: #a32828; }

body { color: #6cc950; }
body { color: #9ce287; }
body { color: #447e32; }

